@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Oxygen:wght@300;400;700&display=swap");

.page {
  font-family: "Oxygen", sans-serif;
  background-color: #fff;
  color: #fff;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}
.menu__list {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 18px auto;
  justify-content: space-around;
  width: 50%;
}
.menu__link {
  margin: 0;
  font-size: 14px;
  line-height: 1.12;
  font-weight: 600;
}
.menu__link a {
  text-decoration: none;
  text-transform: uppercase;
  color: #9e9e9e;
  transition: color 1s;
}
.menu__link a:hover {
  color: #4a7537;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100vh;
  background-color: #b3b3b3;
}
.header__title {
  margin: 0;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.25;
  letter-spacing: 8px;
  padding-top: 100px;
  text-transform: uppercase;
}
.header__subtitle {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
}
.social-links {
  width: 25%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social-links__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: #fff 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links__item a {
  width: 15px;
  height: 15px;
  transition: transform 1s ease;
}
.social-links__item:hover a {
  transform: rotate(360deg);
}
