@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

@keyframes typer {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.page {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #555;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease;
}

.page_theme-dark {
  color: #fff;
  background-color: #7a7a7a;
}

.page_active {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0);
  color: #fff;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.35s ease 0.25s, height 0.75s ease,
    box-shadow 1s ease 0.35s;
}

.menu_theme-dark {
  background-color: rgba(122, 122, 122, 0);
}

.menu__button {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu__close-button {
  visibility: hidden;
  width: 30px;
  height: 30px;
  background-image: url(../images/close-button.svg);
}

.menu_active {
  height: 65px;
  opacity: 1;
  background-color: #ffffff;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
}

.menu_theme-dark.menu_active {
  background-color: #7a7a7a;
}

.menu__content {
  display: flex;
  justify-content: space-between;
  width: 67.5%;
  margin: 0 auto;
  padding: 0 25px;
}

.menu__item a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 0;
  transition: color 0.5s ease;
}

.menu_active a {
  color: #555;
}

.menu_theme-dark.menu_active a {
  color: #fff;
}

.menu__item_active a {
  color: #3d8e85;
}

.menu_theme-dark .menu__item_active a {
  color: #b1d1ce;
}

.lang__buttons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  column-gap: 10px;
  margin: auto 0;
  border-left: 2.5px solid #fff;
}

.menu_active .lang__buttons {
  border-left: 2.5px solid #555;
}

.menu_theme-dark.menu_active .lang__buttons {
  border-left: 2.5px solid #fff;
}

.lang__item {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 0;
  transition: color 0.5s ease;
}

.menu_active .lang__item {
  color: #555;
}

.menu_theme-dark.menu_active .lang__item {
  color: #fff;
}

.lang__item_active,
.menu_active .lang__item_active {
  color: #3d8e85;
}

.menu_theme-dark.menu_active .lang__item_active {
  color: #b1d1ce;
}

.typing {
  width: 20px;
  height: 3px;
  background-color: #3d8e85;
  animation: typer 0.6s linear infinite alternate;
}

.section-title_theme-dark .typing {
  background-color: #b1d1ce;
}

.header {
  width: 100%;
  background: url(../images/pexels-nick-demou-2506947.jpg) rgb(55, 55, 55, 0.75);
  background-size: cover;
  background-blend-mode: multiply;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 75vh;
  box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%);
}

.header__container {
  font-family: "Roboto Mono", monospace;
  width: 75%;
  display: flex;
  margin-bottom: -35px;
}

.header__image {
  width: 315px;
  height: 380px;
  object-fit: cover;
  border-radius: 7.5px;
  box-shadow: 0 0 27px rgb(96 96 96 / 30%);
  transition: box-shadow 0.5s ease;
}

.header__content {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}

.header__title {
  display: flex;
  column-gap: 5px;
  align-items: flex-end;
  min-height: 55px;
}

.header__title h1 {
  margin: 0;
  color: #fff;
  font-size: 42px;
  line-height: 45px;
  font-weight: 700;
}

.header__title .typing {
  width: 25px;
  height: 5px;
  background-color: #fff;
}

.header__subtitle {
  margin: 5px 0 5px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-transform: lowercase;
}

.list {
  list-style: none;
  padding: 0;
}

.list__item {
  display: flex;
  margin: 5px;
  font-size: 18px;
  font-weight: 400;
  color: #f1f1f1;
}

.list__item a {
  color: #f1f1f1;
}

.list__item p {
  min-width: 175px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c3c3c3;
  margin: 0;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.social-icons a img {
  margin-top: 10px;
  width: 22.5px;
  height: 22.5px;
  opacity: 0.75;
  transition: opacity 0.5s ease;
}

.main-content {
  margin-top: 55px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  display: flex;
  column-gap: 5px;
  align-items: flex-end;
  min-height: 35px;
}

.section-title h2 {
  color: #3d8e85;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  margin: 0;
}

.section-title_theme-dark h2 {
  color: #b1d1ce;
}

.about {
  width: 75%;
  padding: 45px 0;
}

.about__paragraph {
  font-size: 18px;
  font-weight: 400;
  margin: 5px 0;
  width: 80%;
  text-align: justify;
}

.work-experience {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
}

.work-experience_theme-dark {
  background-color: #6d6d6d;
}

.timeline {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.timeline__itens {
  width: 80%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

.timeline__item {
  position: relative;
  border-left: #3d8e85 solid 2.5px;
  margin: 0;
  padding-left: 25px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.timeline__item_theme-dark {
  border-left: #b1d1ce solid 2.5px;
}

.timeline__item:last-child {
  padding-bottom: 0;
}

.timeline__item-dot {
  position: absolute;
  top: 0;
  left: -8.75px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #f0f0f0;
  border: #3d8e85 2.5px solid;
}

.timeline__item_theme-dark .timeline__item-dot {
  border: #b1d1ce 2.5px solid;
  background-color: #7a7a7a;
}

.timeline__item-title {
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  margin: 0;
}

.timeline__item-title span {
  opacity: 0.75;
}

.timeline__item-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 500;
  opacity: 0.75;
  margin: 0;
}

.timeline__item-paragraph {
  text-align: justify;
  margin: 0;
}

.education {
  background-color: #f0f0f0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.education_theme-dark {
  background-color: #6d6d6d;
}

.main-skills {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
}

.skills {
  margin: 50px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
}

.skill {
  width: 40%;
  display: grid;
  grid-template-areas: "title . . percentage" "bar bar bar bar";
}

.skill__title {
  grid-area: title;
  margin: 0 0 5px;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
}

.skill__percentage {
  grid-area: percentage;
  margin: 0 0 5px;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 500;
  opacity: 0.75;
  text-align: right;
}

.skill-bar {
  display: flex;
  grid-area: bar;
  width: 100%;
  height: 6.5px;
  border-radius: 3px;
  background-color: #b1b1b1;
}

.main-skills_theme-dark .skill-bar {
  background-color: #efefef;
}

.skill-bar__progress {
  margin: 0;
  width: 0;
  height: 6.5px;
  border-radius: 3.5px;
  background-color: #3d8e85;
  transition: width 2.5s ease;
}

.main-skills_theme-dark .skill-bar__progress {
  background-color: #b1d1ce;
}

.portfolio {
  width: 75%;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  z-index: 1;
}

.cards {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.card {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 1s ease;
}

.card_theme-dark {
  border: 1px solid #6d6d6d;
}

.card__image {
  grid-column: 1;
  width: 520px;
  height: 339px;
  border-radius: 5px 0 0 5px;
}

.card__content {
  width: 90%;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.card__title {
  text-decoration: none;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
  color: #555;
  margin: 15px 0;
}

.card_theme-dark .card__title {
  color: #fff;
}

.card__description {
  text-align: justify;
  margin: 0;
}

.card__skills-title {
  font-size: 16px;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 500;
  opacity: 0.75;
  margin: 45px 0 15px;
}

.card__skills {
  display: flex;
  column-gap: 15px;
}

.card__skill {
  border: 1px solid #f1f1f1;
  border-radius: 2.5px;
}

.card_theme-dark .card__skill {
  border: 1px solid #6d6d6d;
}

.card__skill p {
  font-size: 16px;
  font-family: Roboto Mono, monospace;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
}

.courses {
  background-color: #f0f0f0;
  padding-bottom: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.courses_theme-dark {
  background-color: #6d6d6d;
}

.courses__title {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Roboto Mono", monospace;
  width: 250px;
  height: 35px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  margin: -1px 0 0;
  border-radius: 0 0 100% 100%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
}

.courses_theme-dark .courses__title {
  background-color: #7a7a7a;
}

.slideshow {
  width: 75%;
  margin: 15px 0;
  display: grid;
  grid-template-areas: "backward slide forward";
  justify-content: space-between;
  align-items: center;
}

.slideshow__button {
  width: 40px;
  height: 40px;
  opacity: 0.5;
  transition: opacity 0.5s ease;
}

.slideshow__button_backwards {
  grid-area: backward;
  background: url(../images/backward.svg) no-repeat center;
}

.slideshow__button_forwards {
  grid-area: forward;
  background: url(../images/forward.svg) no-repeat center;
}

.slideshow_theme-dark .slideshow__button_backwards {
  background: url(../images/backward_theme-dark.svg) no-repeat center;
}

.slideshow_theme-dark .slideshow__button_forwards {
  background: url(../images/forward_theme-dark.svg) no-repeat center;
}

.slide {
  grid-area: slide;
  opacity: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slide__title {
  margin: 50px 50px 0;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: Roboto Mono, monospace;
  font-weight: 700;
}

.slide__subtitle {
  margin: 10px 50px 15px;
  font-size: 16px;
  text-transform: uppercase;
  font-style: italic;
  font-family: Roboto Mono, monospace;
  font-weight: 500;
  opacity: 0.75;
}

.slide__line {
  margin-left: 50px;
  width: 90%;
  height: 0.25px;
  background-color: #3d8e85;
}

.slideshow_theme-dark .slide__line {
  background-color: #b1d1ce;
}

.slide__description {
  width: 90%;
  min-height: 110px;
  margin: 15px 50px 0;
  text-align: justify;
}

.slide__skills {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  margin: 25px 50px;
}

.slide__skill {
  border: 1px solid #f1f1f1;
  border-radius: 2.5px;
  background-color: #fff;
}

.slideshow_theme-dark .slide__skill {
  border: 1px solid #6d6d6d;
  border-radius: 2.5px;
  background-color: #7a7a7a;
}

.slide__skill p {
  font-size: 16px;
  font-family: Roboto Mono, monospace;
  font-weight: 400;
  margin: 0;
  padding: 5px 10px;
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.25);
}

.contact-section {
  background-color: #f0f0f0;
  background: url(../images/pexels-lukas-317355.jpg) rgb(55, 55, 55, 0.8);
  background-position: top;
  background-size: cover;
  background-blend-mode: multiply;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0 105px;
}

.contact {
  margin: 25px 0;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.contact h2 {
  color: #fff;
}
.contact .typing {
  background-color: #fff;
}

.contact-information {
  display: flex;
  justify-content: space-between;
}

.contact-information .list {
  margin: 50px 0;
}

.contact-information .list__item {
  margin: 15px 0;
}

.contact-information .list__item p {
  min-width: 100px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 500px;
  max-width: 500px;
}

.form__input {
  outline: none;
  border: none;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.1);
}

.form__input::placeholder {
  padding-left: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #b3b3b3;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 25px;
}

.form__field {
  display: flex;
  flex-direction: column;
  min-height: 67.5px;
}

#name-input {
  width: 100%;
}

#subject-input {
  width: 100%;
}

#email-input {
  width: 100%;
}

#message-input {
  min-height: 100px;
  min-width: 500px;
  max-width: 500px;
}

.form__submit {
  height: 30px;
  border: none;
  color: #cfcfcf;
  font-weight: 900;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}

.form__submit_active {
  color: #fff;
  background-color: #3d8e85;
}

.form__input-error {
  margin: 2.5px 0 0;
  padding: 0;
  min-height: 30px;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  color: #ff4f4f;
}

.form__input_type_error {
  border-bottom: 1px solid #ff0000;
}

.form__temp {
  width: 0;
  height: 0;
  opacity: 0;
}

.share {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  border-radius: 25px 5px 25px 25px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  background-color: #3d8e85;
  transition: width 1.5s ease;
  color: #fff;
  text-decoration: none;
  z-index: 5;
}

.page_theme-dark .share {
  background-color: #b1d1ce;
}

.share__icon {
  padding: 0;
  max-height: 30px;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share__icon-image {
  height: 25px;
  width: 25px;
}

.share__text {
  display: flex;
  font-size: 0px;
  font-weight: 600;
  padding: 0;
  max-height: 30px;
  margin: auto;
  align-items: center;
  justify-content: flex-end;
  height: 0px;
  width: 0px;
  text-align: center;
  opacity: 0;
  transition: opacity 2s 0.3s ease, width 1.5s ease, height 1.5s ease,
    font-size 1.3s ease;
}

.footer {
  margin-top: -50px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-size: 16px;
  color: #fff;
  text-align: center;
}

@media (hover: hover) {
  .menu__item a:hover,
  .menu__item_active a:hover,
  .lang__item:not(.lang__item_active):hover {
    color: #b1b1b1;
  }

  .menu__button:hover,
  .menu__button_active:hover,
  .menu__close-button:hover,
  .lang__item:not(.lang__item_active):hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .header__image:hover {
    box-shadow: 0 0 27px rgb(96 96 96 / 50%);
  }
  .list__item a:hover {
    color: #fff;
  }
  .social-icons a:hover img {
    opacity: 1;
  }
  .card:hover {
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.1);
  }
  .slideshow__button:hover {
    opacity: 1;
    cursor: pointer;
  }
  .share:hover {
    width: 140px;
    cursor: pointer;
  }
  .share:hover .share__text {
    text-decoration: none;
    opacity: 100%;
    height: 30px;
    width: 90px;
    font-size: 13px;
  }
}

@media (max-width: 1370px) and (min-width: 999px) {
  .menu {
    height: 100px;
  }

  .menu__content {
    width: 90%;
  }

  .menu_active {
    height: 45px;
  }

  .menu__item a {
    font-size: 14px;
    font-weight: 600;
  }

  .header__container {
    width: 90%;
    margin-bottom: 0;
  }

  .header__title h1 {
    font-size: 38px;
    line-height: 42px;
  }

  .header__image {
    width: 250px;
    height: 301px;
  }

  .main-content {
    margin-top: 5px;
  }

  .about {
    width: 90%;
    padding: 25px 0;
  }
  .about__paragraph {
    width: 100%;
  }

  .work-experience {
    padding: 25px 0;
  }

  .timeline {
    width: 90%;
  }

  .timeline__itens {
    width: 100%;
  }

  .portfolio {
    width: 90%;
  }
  .card__title {
    margin: 10px 0;
  }
  .card__description {
    font-size: 14px;
    line-height: 22px;
  }
  .card__image {
    width: 350px;
    height: 229px;
  }
  .card__skills-title {
    font-size: 14px;
    margin: 10px 0 2.5px;
  }
  .slideshow {
    width: 90%;
  }

  .slide__title {
    margin: 25px 25px 0;
  }
  .slide__subtitle {
    margin: 10px 25px 5px;
  }
  .slide__line {
    margin-left: 25px;
  }
  .slide__description {
    margin: 5px 25px 0;
  }
  .slide__skills {
    margin: 25px;
  }

  .contact {
    width: 90%;
  }
  #message-input {
    min-height: 75px;
  }
}

@media screen and (max-width: 999px) and (min-width: 300px) {
  @media screen and (min-width: 450px) {
    .card {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card__image {
      width: 400px;
      height: 261px;
      border-radius: 5px 5px 0 0;
    }
  }
  .menu {
    height: 50px;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 8px 0 rgb(0 0 0 / 14%);
  }

  .menu_opened {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-areas: "lines close" "content content";
    justify-content: space-between;
  }

  .menu__button {
    margin: 5px auto 0 25px;
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }

  .lang__buttons,
  .menu_active .lang__buttons {
    border-left: 0;
  }

  .lang__item {
    color: #555;
  }

  .lang__item_active {
    color: #3d8e85;
  }
  .menu_opened .lang__buttons {
    display: none;
  }
  .menu_opened .menu__button {
    grid-area: lines;
    flex-direction: row;
    justify-content: space-around;
  }

  .menu_opened .menu__close-button {
    visibility: visible;
    grid-area: close;
    display: block;
    margin: 5px 25px 0 auto;
  }

  .menu__line {
    width: 90%;
    height: 2.5px;
    background-color: #555;
    border-radius: 10%;
    transition: width 0.25s ease, height 0.25s ease;
  }

  .menu_opened .menu__line {
    width: 2.5px;
    height: 90%;
  }

  .menu__content {
    grid-area: content;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease 0.5s;
  }

  .menu_opened .menu__content {
    transition: opacity 0.5s ease 0.5s;
    opacity: 1;
    visibility: visible;
  }

  .menu__item a {
    color: #555;
  }

  .menu__item_active a {
    color: #555;
  }

  .header__container {
    width: 90%;
    margin-bottom: 0;
  }
  .header__content {
    margin-left: 0;
  }
  .header__image {
    display: none;
  }

  .header__title h1 {
    font-size: 32px;
  }

  .header__subtitle {
    font-size: 16px;
  }

  .main-content {
    margin-top: 15px;
  }

  .section-title h2 {
    font-size: 20px;
  }

  .list__item p {
    min-width: 130px;
  }

  .list__item {
    font-size: 16px;
  }

  .about {
    width: 90%;
    padding: 10px 0;
  }
  .about__paragraph {
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
  }

  .work-experience {
    padding: 35px 0 15px;
  }

  .education {
    padding: 15px 0 35px;
  }

  .timeline {
    width: 90%;
  }

  .timeline__itens {
    width: 100%;
  }
  .timeline__item {
    padding-left: 15px;
    padding-bottom: 25px;
  }

  .timeline__item-title {
    font-size: 15px;
  }
  .timeline__item-subtitle {
    font-size: 14px;
    line-height: 1.5;
  }
  .timeline__item-paragraph {
    font-size: 14px;
    line-height: 1.5;
  }

  .main-skills {
    width: 90%;
  }

  .skill {
    width: 45%;
  }

  .skill__title {
    font-size: 16px;
    line-height: 1;
  }

  .portfolio {
    width: 90%;
  }

  .cards {
    row-gap: 25px;
    align-items: center;
  }

  @media screen and (max-width: 450px) {
    .card {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .card__image {
      width: 300px;
      height: 196px;
      border-radius: 5px 5px 0 0;
    }
  }

  .card__content {
    margin: auto 0;
  }

  .card__title {
    margin: 10px 0;
  }
  .card__description {
    font-size: 14px;
    line-height: 22px;
  }

  .card__skills {
    margin: 0 0 10px;
    row-gap: 5px;
    flex-wrap: wrap;
  }
  .card__skills-title {
    font-size: 14px;
    margin: 10px 0 2.5px;
  }

  .card__skill p {
    font-size: 12px;
    padding: 2.5px 5px;
  }

  .courses__title {
    font-size: 20px;
    width: 200px;
    height: 30px;
  }

  .slideshow {
    width: 95%;
  }

  .slideshow__button {
    width: 30px;
    height: 30px;
  }
  .slide {
    min-height: 350px;
  }

  .slide__title {
    font-size: 16px;
    line-height: 16px;
    margin: 25px 15px 0;
  }
  .slide__subtitle {
    font-size: 12px;
    margin: 5px 15px 5px;
  }
  .slide__line {
    margin-left: 15px;
  }
  .slide__description {
    font-size: 16px;
    margin: 5px 15px 0;
  }
  .slide__skills {
    margin: 15px;
    row-gap: 10px;
  }

  .slide__skill p {
    font-size: 12px;
  }

  .contact-section {
    padding-bottom: 75px;
  }

  .contact {
    width: 90%;
  }

  .contact-information {
    flex-direction: column;
  }

  .contact-information .list__item p {
    min-width: 75px;
  }

  .form {
    margin: 0 auto;
    align-items: center;
    min-width: 400px;
    max-width: 400px;
  }

  .form__title {
    font-size: 18px;
    width: 100%;
    text-align: left;
  }

  .form__field {
    min-width: 400px;
    max-width: 400px;
  }

  #message-input {
    min-height: 100px;
    min-width: 400px;
    max-width: 400px;
  }

  .footer {
    margin-top: -50px;
  }

  .footer__copyright {
    font-size: 14px;
  }

  @media screen and (max-width: 555px) and (min-width: 300px) {
    .menu {
      height: 35px;
    }

    .menu_opened {
      width: 100%;
      height: 85vh;
      display: grid;
      grid-template-areas:
        "lines close"
        "content content";
      justify-content: space-between;
    }

    .menu__button {
      margin-left: 10px;
      height: 25px;
      width: 55px;
    }

    .menu_opened .menu__button {
      grid-area: lines;
      flex-direction: row;
      justify-content: space-around;
      width: 25px;
    }

    .header {
      background-position: top;
    }

    .header__title h1 {
      font-size: 26px;
    }

    .list__item {
      font-size: 14px;
    }

    .main-content {
      margin-top: 14px;
    }

    .timeline__item-title span {
      display: block;
    }

    .timeline__item-subtitle {
      font-size: 12px;
    }

    .timeline__item-subtitle span {
      display: block;
    }

    .skill__title {
      font-size: 14px;
      line-height: 1;
    }

    .contact-section {
      padding-bottom: 50px;
    }

    .form {
      min-width: 250px;
      max-width: 250px;
    }

    .form__field {
      min-width: 250px;
      max-width: 250px;
    }

    #message-input {
      min-height: 100px;
      min-width: 250px;
      max-width: 250px;
    }

    .footer__copyright {
      font-size: 12px;
    }
  }
}
